name: Bot do carai

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 */18 * * *"
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Instalar Poetry
        run: pip install poetry

      - name: Verificar Poetry
        run: poetry --version

      - name: Gerar lock
        run: poetry lock

      - name: Instalar dependências
        run: poetry install --no-interaction --no-root

      - name: Executar Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: PYTHONPATH=garimpo poetry run python -m src.garimpo.bot
