name: Run Bot

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Instalar Poetry
        run: |
          pip install poetry
          poetry --version

      - name: Configurar Poetry
        run: |
          poetry config virtualenvs.create false

      - name: Regenerar lockfile
        run: poetry lock

      - name: Instalar dependências
        run: poetry install --no-interaction --no-root --sync

      - name: Executar Bot
        run: poetry run python main.py
