name: National Bot

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "0 */18 * * *"
jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Instalar Poetry
        run: pip install poetry

      - name: Gerar lock
        run: poetry lock

      - name: Instalar dependências
        run: poetry install --no-interaction --no-root

      - name: Executar Pipeline
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > config.json
          PYTHONPATH=src poetry run python main.py
          rm config.json

      - name: Persistir Database (Commit & Push)
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data/products.db
          git commit -m "update local database CI/CD" || echo "Sem mudanças no banco"
          git push origin HEAD:main